.google-vignette-test
    animation 0.6s ease 0s 1 normal none running to_show

    > body
        background-color var(--flec-maskbgdeep)

    .header-panel
        background-color transparent
        border none

        .header-message
            color var(--flec-fontcolor)

        .close-button
            line-height inherit
            background var(--flec-maskbg)
            border-radius 50%
            padding 4px
            margin 12px
            display flex
            align-items center
            justify-content center

    .container
        ins
            iframe
                border-radius 12px
                border var(--style-border)
                box-shadow var(--flec-shadow-border)

                > body
                    background-color var(--flec-maskbg)