.card-widget.card-calendar#card-widget-calendar
  div#calendar-area-left
    div#calendar-week
    div#calendar-date(style="font-size: 48px;")
    div#calendar-solar
    div#calendar-lunar

  div#calendar-area-right
    div#calendar-main