.red
  color var(--flec-red)

.green
  color var(--flec-green)

.blue
  color var(--flec-blue)

.yellow
  color var(--flec-yellow)

.pink
  color var(--flec-pink)

.purple
  color var(--flec-purple)

.orange
  color var(--flec-orange)

.bg-red
  background-color var(--flec-red)
  color var(--flec-white)

.bg-green
  background-color var(--flec-green)
  color var(--flec-white)

.bg-blue
  background-color var(--flec-blue)
  color var(--flec-white)

.bg-yellow
  background-color var(--flec-yellow)

.bg-pink
  background-color var(--flec-pink)
  color var(--flec-white)

.bg-purple
  background-color var(--flec-purple)
  color var(--flec-white)

.bg-orange
  background-color var(--flec-orange)
  color var(--flec-white)

.block
  display block

.center
  margin 0 auto

.right
  margin-left auto

.larger
  font-size 1.5rem
  margin 5px

  i
    transform scale(1.5)