@font-face {
  font-family: "flecicon"; /* Project id 4569728 */
  src: url('iconfont.woff2?t=1717775719011') format('woff2'),
       url('iconfont.woff?t=1717775719011') format('woff'),
       url('iconfont.ttf?t=1717775719011') format('truetype');
}

.flecicon {
  font-family: "flecicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flec-plant-fill:before {
  content: "\e975";
}

.flec-slideshow-line:before {
  content: "\e74e";
}

.flec-down-one-arrow-line:before {
  content: "\e75e";
}

.flec-circle-check-solid:before {
  content: "\e620";
}

.flec-circle-plus-solid:before {
  content: "\e612";
}

.flec-circle-minus-solid:before {
  content: "\e711";
}

.flec-circle-exclamation-solid:before {
  content: "\e640";
}

.flec-circle-info-solid:before {
  content: "\e603";
}

.flec-circle-arrow-right-solid:before {
  content: "\e607";
}

.flec-wechat:before {
  content: "\ed0d";
}

.flec-facebook:before {
  content: "\e8e7";
}

.flec-whatsapp:before {
  content: "\e97b";
}

.flec-linkedin:before {
  content: "\ebf6";
}

.flec-sinaweibo:before {
  content: "\ec9c";
}

.flec-telegram:before {
  content: "\ecd5";
}

.flec-tencentqq:before {
  content: "\ecd6";
}

.flec-tuitex:before {
  content: "\e602";
}

.flec-left-two-arrow-line:before {
  content: "\eb0a";
}

.flec-algolia-fill:before {
  content: "\ebeb";
}

.flec-robot:before {
  content: "\e644";
}

.flec-add-fill:before {
  content: "\e754";
}

.flec-jike:before {
  content: "\e601";
}

.flec-loading-line:before {
  content: "\e7a4";
}

.flec-vertical-more-fill:before {
  content: "\e927";
}

.flec-thumbtack-solid:before {
  content: "\e61b";
}

.flec-left-one-arrow-line:before {
  content: "\e765";
}

.flec-window-fill:before {
  content: "\e750";
}

.flec-links-line:before {
  content: "\e73e";
}

.flec-download-cloud-fill:before {
  content: "\e7e9";
}

.flec-pause-fill:before {
  content: "\e95e";
}

.flec-paste-fill:before {
  content: "\e7ac";
}

.flec-copy-fill:before {
  content: "\e81e";
}

.flec-play-fill:before {
  content: "\e977";
}

.flec-skip-back-fill:before {
  content: "\ea3c";
}

.flec-skip-forward-fill:before {
  content: "\ea40";
}

.flec-arrow-left-line:before {
  content: "\e764";
}

.flec-arrow-right-line:before {
  content: "\e767";
}

.flec-arrow-up-line:before {
  content: "\e76a";
}

.flec-copyright-line:before {
  content: "\e736";
}

.flec-creative-commons-by-line:before {
  content: "\e737";
}

.flec-creative-commons-nc-line:before {
  content: "\e738";
}

.flec-creative-commons-nd-line:before {
  content: "\e739";
}

.flec-book-mark-fill:before {
  content: "\e77e";
}

.flec-star-smile-fill:before {
  content: "\ea69";
}

.flec-jianti-line:before {
  content: "\e6d7";
}

.flec-fanti-line:before {
  content: "\e6d8";
}

.flec-afdian-line:before {
  content: "\e683";
}

.flec-map-line:before {
  content: "\e8f1";
}

.flec-menu-line:before {
  content: "\e90e";
}

.flec-hand-heart-fill:before {
  content: "\e89c";
}

.flec-right-one-arrow-line:before {
  content: "\e768";
}

.flec-chat-fill:before {
  content: "\e600";
}

.flec-fire-fill:before {
  content: "\e84a";
}

.flec-map-pin-fill:before {
  content: "\e8fb";
}

.flec-time-line:before {
  content: "\eabd";
}

.flec-calendar-todo-fill:before {
  content: "\e734";
}

.flec-visitor-fill:before {
  content: "\e811";
}

.flec-file-word-fill:before {
  content: "\e841";
}

.flec-team-fill:before {
  content: "\eaaa";
}

.flec-refresh-line:before {
  content: "\e9ab";
}

.flec-right-two-arrow-line:before {
  content: "\eb09";
}

.flec-home-fill:before {
  content: "\e64e";
}

.flec-right-btn-fill:before {
  content: "\e840";
}

.flec-close-fill:before {
  content: "\e7af";
}

.flec-keyboard-box-fill:before {
  content: "\e8fa";
}

.flec-side-bar-fill:before {
  content: "\e641";
}

.flec-train-line:before {
  content: "\eacb";
}

.flec-dice-line:before {
  content: "\ec02";
}

.flec-link-fill:before {
  content: "\e828";
}

.flec-file-edit-fill:before {
  content: "\e822";
}

.flec-mail-line:before {
  content: "\e740";
}

.flec-apps-fill:before {
  content: "\e75d";
}

.flec-bilibili-line:before {
  content: "\e778";
}

.flec-chat-quote-fill:before {
  content: "\e79d";
}

.flec-chat-smile-fill:before {
  content: "\e79f";
}

.flec-checkbox-fill:before {
  content: "\e7a9";
}

.flec-contacts-fill:before {
  content: "\e7c3";
}

.flec-folder-fill:before {
  content: "\e859";
}

.flec-gift-fill:before {
  content: "\e884";
}

.flec-github-line:before {
  content: "\e88d";
}

.flec-group-fill:before {
  content: "\e894";
}

.flec-hashtag-solid:before {
  content: "\e8a0";
}

.flec-image-fill:before {
  content: "\e8b2";
}

.flec-layout-masonry-fill:before {
  content: "\e8c9";
}

.flec-moon-clear-fill:before {
  content: "\e922";
}

.flec-music-fill:before {
  content: "\e92d";
}

.flec-price-tag-fill:before {
  content: "\e987";
}

.flec-search-line:before {
  content: "\e9f3";
}

.flec-signal-tower-fill:before {
  content: "\ea2d";
}

